/*** Reset ***/
/*** Reset ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*** Global ***/
/*** Global ***/
.container {
    width: 100%;
}

body {
    font-size: 16px;
    background: #FCFCFF;
}

h3 {
    font-size: 2.25em;
    font-weight: 600;
    line-height: 140%;
    color: rgba(40, 45, 108, 1);
}

h4 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 140%;
    color: rgba(29, 41, 63, 1);
}

/* Footer Quick Links */ /* Footer Quick Links */
h5 {
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(158, 161, 189, 1);
 }

/* Small Subheading */ /* Small Subheading */
h6 {
    color: rgba(24, 144, 255, 1);
    font-weight: 500;
}

p {
    font-weight: 400;
    line-height: 160%;
    color: rgba(40, 45, 108, 1);
    flex-grow: 1;
}


/*** Hero and Nav ***/
/*** Hero and Nav ***/
header {
    display: flex;
    width: 100%;
    background: linear-gradient(125deg, hsla(164, 100%, 32%, 0.3), hsla(24, 92%, 64%, 0.2) 50%, hsla(261, 91%, 74%, 0.2) 90%);
}

/* Nav Menu */ /* Nav Menu */
nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    width: 100%;
    font-size: 1rem;
    padding: 0 9.5rem;
    font-size: .9rem;
    font-weight: 500;
    z-index: 10;
}

/* For Sticky Nav on Scroll */ /* For Sticky Nav on Scroll */
nav.sticky {
    padding: 1.5em 9.5rem;
    background: rgba(252, 252, 255, 0.98);
    border-bottom: 1px solid #EAF3FC;
}

/* Logo */ /* Logo */
.logo {
    position: relative;
    justify-items: flex-start;
    height: auto;
}

/* Navbar */ /* Navbar */
.navbar {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

nav ul {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

nav li {
    position: relative;
    text-decoration: none;
    list-style: none;
}

.navitem a {
    color: hsla(235, 19%, 54%, 1);
    text-decoration: none;
    font-weight: 500;
}

.navitem a::after {
    color: hsla(235, 19%, 54%, 1);
    font-weight: 600;
}


.navitem a:hover {
    color: rgba(40, 45, 108, 1);
    transition: 0.5s;
    font-weight: 600;
}

/* Hamburger Toggle */ /* Hamburger Toggle */
.toggle-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 1.5rem;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: rgba(9, 109, 217, 1);
    border-radius: 10px;
}

/* Nav Buttons */ /* Nav Buttons */
.nav-btns {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;
    gap: 20px;
}

.menu-btn {
    background-color: hsla(211, 92%, 44%, 0);
    border: 2px solid hsla(211, 92%, 44%, 0.1);
    padding: 1em 1.5em;
    border-radius: 4px;
    font-size: .9rem;
    font-weight: 500;
    color: hsla(235, 19%, 54%, 1);
}

.menu-btn:hover {
    color: hsla(211, 92%, 44%, 1);
    font-weight: 600;
    transition: 0.5s;
}
/* End: Nav Buttons */


/* Drop-down Links */ /* Drop-down Links */
.navbar-links {
    background: none;
    border: none;
    text-decoration: none;
    color: hsla(235, 19%, 54%, 1);
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown.active > .navbar-links,
.navbar-links:hover {
    color: rgba(40, 45, 108, 1);
    transition: 0.5s;
    font-weight: 600;
}

.dropdown {
    position: relative;
}

.dropdown-heading {
    padding: 0 0 .8rem 0;
    font-weight: 700;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 1rem);
    background-color: white;
    padding: 2rem;
    border-radius: .25rem;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .navbar-links + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
/* End: Drop-down Links */

#mobile-navbar {
    display: none;
}


/*** Menu Responsive ***/

/* 500px Responsive */
@media (max-width:500px) {
    nav {
      flex-flow: column;
    }
}
/* End: 500px Responsive */

/* 768px Responsive */
@media only screen and (max-width: 768px) {
    .toggle-btn {
        right: 5em !important;
    }
    .logo {
        left: -5em;
    }
}


/* 1000px Responsive */
@media (max-width: 1000px){
    .logo {
        display: flex;
    }

    nav ul{
      flex-flow: column;
      max-width: 250px; /*Revisit!!!*/
      border-radius: 5px;
      padding: 30px 10px;
      background:#fff;
      box-shadow: 0 0 0 100vh rgba(0,0,0,.5), 0 3px 5px #000;
    }

    nav ul li{
      width:100%;
      text-align: center;
    }

    nav ul li a{
      font-size: 25px;
      display: block;
    }

    nav .nav-toggle{
      top:55%;
      opacity: 1;
    }

}
/* End: 1000px Responsive */

/* 1200px Responsive */
@media only screen and (max-width: 1200px) {
    #desktop-navbar, .nav-btns {
        display: none;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .toggle-btn {
        display: flex;
        top: 2em;
        right: 3em;
    }

    .navbar {
        display: none;
        width: 100%;
    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar ul li {
        text-align: center;
    }

    .navbar ul li a {
        padding: 1rem;
    }

    .navbar.active {
        display: flex;
    }

    /* .dropdown, .dropdown-links, .dropdown-heading, .navbar-links {
        display: none;
    } */

    .dropdown-heading {
        display: none;
    }

    .costs-cols {
        display: flex !important;
        position: relative !important;
        margin: auto !important;
        gap: 30px !important;
    }
}
/* End: 1200px Responsive */


/*** End: Hero and Nav ***/
/*** End: Hero and Nav ***/


/***** Hero *****/
/***** Hero *****/
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 0 0;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    max-width: 600px;
    flex-wrap: wrap;
    padding: 2rem 2.5rem;
}

.hero-text h1 {
    font-size: 3.5rem;
    line-height: 120%;
    font-weight: 600;
    color: hsla(236, 93%, 17%, 0.85);
    flex-wrap: wrap;
}

/* 400px Responsive */
@media only screen and (max-width: 400px) {
    .hero-text h1 {
        font-size: 2.75rem;
    }

    .trusted h3 {
        font-size: 1.75rem !important;
    }
}

.hero-text p {
    font-size: 1.1rem;
    line-height: 160%;
    color: hsla(236, 47%, 28%, 1);
    flex-wrap: wrap;
}

.hero-btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem 0;
    gap: 30px;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#btn1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 19px;
    gap: 10px;
    background-color: hsla(164, 100%, 32%, 1);
    border: 1px solid hsla(164, 100%, 32%, 1);
    padding: 1.2em 1.8em;
    border-radius: 4px;
    color: #fff;
}

#btn2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 19px;
    gap: 10px;
    background-color: hsla(164, 100%, 32%, 0);
    border: 2px solid hsla(164, 100%, 32%, 1);
    padding: 1.2em 1.8em;
    border-radius: 4px;
    color: hsla(164, 100%, 32%, 1);
}

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

/* 768px Responsive */
@media only screen and (max-width: 768px) {
    .hero-img {
        display: none;
    }
}
/* End: 768px Responsive */


/* 1700px Responsive */
@media (max-width: 1700px) {
    .hero-section {
        left: 5%;
    }

    .hero-img {
        left: 70%;
    }
}
/* End: 1700px Responsive */

/***** End: Hero *****/
/***** End: Hero *****/


/***** Trusted *****/
/***** Trusted *****/
.trusted {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem 7rem;
    gap: 10px;
    background: #FCFCFF;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5em;
}

.trusted h3 {
    font-size: 2.5rem;
    line-height: 140%;
    padding: 0 11rem;
    color: #282D6C;
}

/* 768px Responsive */
@media only screen and (max-width: 768px) {
    .trusted h3 {
        padding: 0;
    }

    .trusted-imgs {
        flex-direction: column !important;
    }
}
/* End: 768px Responsive */

.trusted-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 4rem;
    gap: 40px;
    flex-wrap: wrap;
}
/***** End: Trusted *****/
/***** End: Trusted *****/


/***** Regulations *****/
/***** Regulations *****/
.regs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 82px;
    gap: 5rem;
    background-color: #FCFCFF;
}

.col2-copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 2em;
}

.col2-copy h3 {
    font-size: 2.25rem;
    line-height: 140%;
    color: rgba(40, 45, 108, 1);
    flex-basis: 40%;
    flex-wrap: wrap;
}

.col2-copy p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 160%;
    color: #656D9F;
    flex-basis: 60%;
    flex-wrap: wrap;
}

/*Cards*/
.cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.cards-item {
    border: 1px solid rgba(0, 0, 0, 0.025);
    border-radius: 12px;
    padding: 50px 25px;
    background: #fff;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

/* 1200px Responsive */
@media (max-width:1200px) {
    .cards {
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards-item {
        display: flex;
        flex-direction: column;
    }
}

/* 800px Responsive */
@media only screen and (max-width: 800px) {
    .col2-copy {
        flex-direction: column;
    }
}
/* End: 800px Responsive */


.cards-item h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 120%;
    padding: 0 0 20px 0;
}

.cards-item h4 {
    color: rgba(40, 45, 108, 1);
    font-weight: 600;
    font-size: 1.5rem;
}

.cards-item p {
    color: hsla(232, 23%, 51%, 1);
    padding: 0 0 15px 0;
    font-size: 1rem;
    line-height: 160%;
}

.cards-item .text-cta {
    display: flex;
    padding: 10px 0;
    background: none;
    border: none;
    text-transform: capitalize;
    font-size: 1.125rem;
    line-height: 160%;
    font-weight: 500;
    color: #00A578;
}

.cards-item .text-cta span {
    padding-left: 5px;
}

.regs-active {
    background: linear-gradient(180deg, #8CC8AA 0%, #00A578 100%);
    color: #fff;
}

.regs-active h4 {
    color: #fff;
}

.regs-active p {
    color: #fff;
}

.regs-active .text-cta {
    color: #fff;
}
/***** End: Regulations *****/
/***** End: Regulations *****/


/***** About *****/
/***** About *****/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 82px;
    gap: 3rem;
    background-color: #FCFCFF;
}

.costs-cols {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 30px 0;
    margin-top: 12em;
    max-width: 100%;
}

.costs-cols-item {
    display: flex;
    justify-content: flex-end;
    max-width: 350px;
}

/* 400px Responsive */
@media only screen and (max-width: 400px) {
    .costs-cols-item {
        display: none;
    }
}

/* 1430px Responsive */
@media only screen and (max-width: 1000px) {
    .costs-cols {
        flex-flow: wrap;
        align-items: center !important;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 1430px) {
    .costs-cols {
        position: relative !important;
        margin: 0;
        padding: 0;
    }
}

/***** End: About *****/
/***** End: About *****/


/***** Porfolio *****/
/***** Porfolio *****/
.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0, 165, 120, 0.05);
    padding: 100px 0;
    margin-top: 10em;
}

.port-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10em 0;
}

/* 768px Responsive */
@media only screen and (max-width:768px) {
    .port-container {
        padding: 10em 3em;
    }
}
/* End: 768px Responsive */

.port-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    max-width: 510px;
    color: rgba(40, 45, 108, 1);
}

.port-copy p {
    font-size: 1.125em;
    line-height: 160%;
}

.port-imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
}

/* 1200px Responsive */
@media only screen and (max-width: 1000px) {
    .port-imgs {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1200px) {
    .port-imgs {
        gap: 30px !important;
    }
}
/* End: 1200px Responsive */

.img-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    gap: 50px;
    max-width: 440px;
}

.img-col2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    max-width: 440px;
}

/* 400px Responsive */
@media only screen and (max-width: 400px) {
    .img-col1, .img-col2 {
        max-width: 300px;
    }
}
/* End: 400px Responsive */

.port-imgs img {
    border-radius: 12px;
    max-width: 440px;
}

/* 400px Responsive */
@media only screen and (max-width: 400px) {
    .port-imgs img {
        max-width: 18em;
    }

}

.overlay-txt {
    margin-top: -5em;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 440px;
    color: #fff;
    padding: 0 1.2em;
}

/* 400px Responsive */
@media only screen and (max-width: 400px) {
    .overlay-txt {
        max-width: 17em;
    }
}


/***** End: Porfolio *****/
/***** End: Porfolio *****/


/***** App *****/
/***** App *****/
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em 3em;
    /* gap: 10px; */
    /* flex-wrap: wrap; */
}


/* 400px Responsive */
@media only screen and (max-width: 400px) {
    .app-frame img {
        display: flex;
        max-width: 16em;
        justify-content: center;
    }
}

/* 768px Responsive */
@media only screen and (max-width: 768px) {
    .app {
        flex-wrap: wrap;
    }

    .app-frame {
        flex-wrap: wrap;
    }
}
/* End: 768px Responsive */

.app-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px 0px 0px;
    gap: 3em;
    max-width: 1150px;
    /* max-height: 613px; */
}

/* 1400px Responsive */
@media only screen and (max-width: 1200px) {
    .app-frame {
        gap: 3em;
    }
}

.app-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5em;
    height: auto;
}

.p-lrg {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 130%;
}

.p-sm {
    color: rgba(101, 109, 159, 1);
}

.app-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    max-width: 572px;
    max-height: 62.67px;
}

.app-icon-downloads {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.app-icon-downloads img {
    max-width: 20%;
}
/***** End: App *****/
/***** End: App *****/


/***** CTA *****/
/***** CTA *****/
.cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 75px 0px;
    gap: 3em;
    flex-wrap: wrap;
}

.cta-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    max-width: 390px;
}

.cta-copy-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

/* 400px Responsive */
@media only screen and (max-width: 400px) {
    .cta-copy-col {
        padding: 1em;
    }
}

.cta-copy-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.cta-copy-headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.primary-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(9, 109, 217, 1);
    color: #fff;
    padding: 11px 15px;
    gap: 10px;
    border-radius: 4px;
    border: none;
}

.cta img {
    max-width: 30em;
}

/* 400px Responsive */
@media only screen and (max-width: 400px) {
    .cta img {
        max-width: 17em;
    }
}

/***** End: CTA *****/
/***** End: CTA *****/


/***** Footer *****/
/***** Footer *****/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 175px;
    gap: 100px;
    background: linear-gradient(180deg, #EAF3FC 0%, rgba(234, 243, 252, 0) 100%);
    border-radius: 50px 50px 0px 0px;
}

.enews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.enews-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.inputSearch {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 15px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #F4F5F8;
    border-radius: 8px;
}

.enews-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 3em;
}

.enews-field input {
    border: none;
}

/* 400px Repsonsive */
@media only screen and (max-width: 400px) {
    .enews-field {
        flex-direction: column;
        padding: 1em;
    }

    .enews-field input {
        text-align: center;
    }
}


/*Footer Top*/
.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 40px;
}

/* 768px Responsive */
@media only screen and (max-width: 768px) {
    .quicklinks {
        flex-direction: column !important;
        flex-flow: column wrap;
    }
}
/* End: 768px Responsive */

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.divider {
    border-bottom: 1px solid #73779f3a;
    padding: 2rem 0;
}

.quicklinks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
}

.quicklinks-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    flex-wrap: wrap;
}

.quicklinks-col h4 {
    color: rgba(158, 161, 189, 1);
}

.quicklinks-col ul {
    list-style-type: none;
}

.quicklinks-col li a {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    line-height: 2rem;
    color: rgba(94, 97, 145, 1);
    font-weight: 400;
}

.quicklinks-col li a:hover {
    color: rgba(40, 45, 108, 1);
    transition: 0.5s;
    font-weight: 500;
}


/* Footer Bottom */
.footer-btm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7em;
}

/* 400px Responsive */
@media only screen and (max-width: 400px) {
    .footer-btm {
        gap: 5em;
    }
}

#copyright {
    display: flex;
    flex-direction: column;
    font-size: 0.775rem;
    align-items: flex-start;
}

#social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    color: rgba(201, 202, 218, 1);
}

.social-icons i:hover {
    color:rgba(9, 109, 217, 1);
    transition: 0.5s;
}
/***** End: Footer *****/
/***** End: Footer *****/