/*** Reset ***/
/*** Reset ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*** Global ***/
/*** Global ***/
.container {
    width: 100%;
}

body {
    font-size: 16px;
    background: #FCFCFF;
}

h3 {
    font-size: 2.25em;
    font-weight: 600;
    line-height: 140%;
    color: rgba(40, 45, 108, 1);
}

h4 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 140%;
    color: rgba(29, 41, 63, 1);
}

/*Footer Quick Links*/
h5 {
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(158, 161, 189, 1);
 }

/*Small Subheading*/
h6 {
    color: rgba(24, 144, 255, 1);
    font-weight: 500;
}

p {
    font-weight: 400;
    line-height: 160%;
    color: rgba(40, 45, 108, 1);
    flex-grow: 1;
}


/*** Hero and Nav ***/
/*** Hero and Nav ***/
header {
    display: flex;
    width: 100%;
    background: linear-gradient(125deg, hsla(164, 100%, 32%, 0.3), hsla(24, 92%, 64%, 0.2) 50%, hsla(261, 91%, 74%, 0.2) 90%);
}

/* Hide fas fa bars on larger devices*/
#menu {
    font-size: 30px;
    color:#fff;
    cursor: pointer;
    display: none;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    width: 100%;
    font-size: 1rem;
    padding: 0 9.5rem;
    font-size: .9rem;
    font-weight: 500;
    background: rgba(250, 250, 250, 0.9);
    z-index: 10;
}

.logo {
    justify-items: flex-start;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

nav li {
    text-decoration: none;
    list-style: none;
}

.navitem a {
    color: hsla(235, 19%, 54%, 1);
    text-decoration: none;
    font-weight: 500;
}

.navitem a::after {
    color: hsla(235, 19%, 54%, 1);
    font-weight: 600;
}


.navitem a:hover {
    color: rgba(40, 45, 108, 1);
    transition: 0.5s;
    font-weight: 600;
}

/* Hamburger Toggle */
.toggle-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 1.5rem;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Nav Buttons */
.nav-btns {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;
    gap: 20px;
}

.menu-btn {
    background-color: hsla(211, 92%, 44%, 0);
    border: 2px solid hsla(211, 92%, 44%, 0.1);
    padding: 1em 1.5em;
    border-radius: 4px;
    font-size: .9rem;
    font-weight: 500;
    color: hsla(235, 19%, 54%, 1);
}

.menu-btn:hover {
    color: hsla(211, 92%, 44%, 1);
    font-weight: 600;
    transition: 0.5s;
}
/***End: Nav Buttons***/


/***Drop-down Links***/
.navbar-links {
    background: none;
    border: none;
    text-decoration: none;
    color: hsla(235, 19%, 54%, 1);
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}
  
.dropdown.active > .navbar-links,
.navbar-links:hover {
    color: rgba(40, 45, 108, 1);
    transition: 0.5s;
    font-weight: 600;
}

.dropdown {
    position: relative;
}

.dropdown-heading {
    padding: 0 0 .8rem 0;
    font-weight: 700;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 1rem);
    background-color: white;
    padding: 2rem;
    border-radius: .25rem;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
  
.dropdown.active > .navbar-links + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
  
.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}
  
.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
/***End: Drop-down Links***/


/***Menu Responsive***/
.toggle-btn {
    display: flex;
}

@media (max-width: 1000px){
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 30px;
        min-width: 100%;
        gap: 50%;
    }

    .logo {
        display: flex;
    }

    #menu {
        display: flex;
        color: hsla(235, 19%, 54%, 1);
    }

    #menu:hover {
        color: rgba(40, 45, 108, 1);
        transition: 0.5s;
    }

    header .nav-btns {
        display: none;
    }
  
    header .navbar{
      position: fixed;
      /* top:-1000px; left: 50%; */
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  
    header .navbar ul{
      flex-flow: column;
      width: 250px;
      border-radius: 5px;
      padding: 30px 10px;
      background:crimson;
      box-shadow: 0 0 0 100vh rgba(0,0,0,.5), 0 3px 5px #000;
    }
  
    header .navbar ul li{
      width:100%;
      text-align: center;
    }
  
    header .navbar ul li a{
      font-size: 25px;
      display: block;
    }
  
    header .navbar .nav-toggle{
      top:55%;
      opacity: 1;
    }
  
  }
  
  @media (max-width:500px){
  
    header {
      flex-flow: column;
    }
  
  }

/*** End: Hero and Nav ***/
/*** End: Hero and Nav ***/


/***** Hero *****/
/***** Hero *****/
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 0 0;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 600px;
    flex-wrap: wrap;
    padding: 2rem 2.5rem;
}

.hero-text h1 {
    font-size: 3.5rem;
    line-height: 120%;
    font-weight: 600;
    color: hsla(236, 93%, 17%, 0.85);
    flex-wrap: wrap;
}

.hero-text p {
    font-size: 1.1rem;
    line-height: 160%;
    color: hsla(236, 47%, 28%, 1);
    flex-wrap: wrap;
}

.hero-btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem 0;
    gap: 30px;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#btn1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 19px;
    gap: 10px;
    background-color: hsla(164, 100%, 32%, 1);
    border: 1px solid hsla(164, 100%, 32%, 1);
    padding: 1.2em 1.8em;
    border-radius: 4px;
    color: #fff;
}

#btn2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 19px;
    gap: 10px;
    background-color: hsla(164, 100%, 32%, 0);
    border: 2px solid hsla(164, 100%, 32%, 1);
    padding: 1.2em 1.8em;
    border-radius: 4px;
    color: hsla(164, 100%, 32%, 1);
}

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

/*****Responsive: Hero *****/
@media (max-width: 1700px) {
    .hero-section {
        left: 5%;
    }

    .hero-img {
        left: 70%;
    }
}
/***** End: Hero *****/
/***** End: Hero *****/


/***** Trusted *****/
/***** Trusted *****/
.trusted {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem 7rem;
    gap: 10px;
    background: #FCFCFF;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
}

.trusted h3 {
    font-size: 2.5rem;
    line-height: 140%;
    padding: 0 11rem;
    color: #282D6C;
}

.trusted-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 4rem;
    gap: 40px;
    flex-wrap: wrap;
}
/***** End: Trusted *****/
/***** End: Trusted *****/


/***** Regulations *****/
/***** Regulations *****/
.regs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 82px;
    gap: 5rem;
    background-color: #FCFCFF;
}

.col2-copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 150px;
}

.col2-copy h3 {
    font-size: 2.25rem;
    line-height: 140%;
    color: rgba(40, 45, 108, 1);
    flex-basis: 40%;
    flex-wrap: wrap;
}

.col2-copy p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 160%;
    color: #656D9F;
    flex-basis: 60%;
    flex-wrap: wrap;
}

/*Cards*/
.cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.cards-item {
    border: 1px solid rgba(0, 0, 0, 0.025);
    border-radius: 12px;
    padding: 50px 25px;
    background: #fff;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (max-width:1190px) {
    .cards {
        gap: 30px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cards-item {
        display: flex;
        flex-direction: column; 
    }
}

.cards-item h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 120%;
    padding: 0 0 20px 0;
}

.cards-item h4 {
    color: rgba(40, 45, 108, 1);
    font-weight: 600;
    font-size: 1.5rem;
}

.cards-item p {
    color: hsla(232, 23%, 51%, 1);
    padding: 0 0 15px 0;
    font-size: 1rem;
    line-height: 160%;
}

.cards-item .text-cta {
    display: flex;
    padding: 10px 0;
    background: none;
    border: none;
    text-transform: capitalize;
    font-size: 1.125rem;
    line-height: 160%;
    font-weight: 500;
    color: #00A578;
}

.cards-item .text-cta span {
    padding-left: 5px;
}

.regs-active {
    background: linear-gradient(180deg, #8CC8AA 0%, #00A578 100%);
    color: #fff;
}

.regs-active h4 {
    color: #fff;
}

.regs-active p {
    color: #fff;
}

.regs-active .text-cta {
    color: #fff;
}
/***** End: Regulations *****/
/***** End: Regulations *****/


/***** About *****/
/***** About *****/
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0 0 150px;
    gap: 50px;
}

.about .col2-copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 118px;
    width: 1470px;
    height: 174px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about .col2-copy h3 {
    flex-basis: 40%;
    flex-wrap: wrap;
}

.about .col2-copy p {
    flex-basis: 60%;
    flex-wrap: wrap;
    font-size: 1.125rem;
    line-height: 160%;
}

.costs-cols {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 170px;
    gap: 40px;
    padding-top: 30px 0;
    width: 1470px;
    height: 314px;
    z-index: 1;
    margin-top: 500px;
}

.costs-cols-item {
    display: flex;
    justify-content: flex-end;
}
/***** End: About *****/
/***** End: About *****/


/***** Porfolio *****/
/***** Porfolio *****/
.portfolio {
    display: flex;
    /* position: relative; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0, 165, 120, 0.05);
    padding: 100px 0;
    margin-top: 200px;
}

.port-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 255px 0px;
    width: 1440px;
    height: auto;
}

.port-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 510px;
    color: rgba(40, 45, 108, 1);
}

.port-copy p {
    font-size: 1.125em;
    line-height: 160%;
}

.port-imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
}

.img-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    gap: 50px;
    width: 440px;
    height: 464px;
}

.img-col2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    width: 440px;
    height: 1494px;
}

.port-imgs img {
    border-radius: 12px;
}

.overlay-txt {
    margin-top: -5em;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 440px;
    color: #fff;
    padding: 0 1.2em;
}
/***** End: Porfolio *****/
/***** End: Porfolio *****/


/***** App *****/
/***** App *****/
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    gap: 10px;
}

.app-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px 0px 0px;
    gap: 50px;   
    width: 1150px;
    height: 613px;
}

.app-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5em;
    height: auto;
}

.p-lrg {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 130%;
}

.p-sm {
    color: rgba(101, 109, 159, 1);
}

.app-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 572px;
    height: 62.67px;
}

.app-icon-downloads {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.app-icon-downloads img {
    max-width: 20%;
}
/***** End: App *****/
/***** End: App *****/


/***** CTA *****/
/***** CTA *****/
.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 75px 0px;
    gap: 100px;
    justify-content: center;
}

.cta-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 390px;
    height: 258px;
}

.cta-copy-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 390px;
    height: 258px; 
}

.cta-copy-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    
    width: 390px;
    height: 258px;
}

.cta-copy-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.cta-copy-headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.primary-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(9, 109, 217, 1);
    color: #fff;
    padding: 11px 15px;
    gap: 10px;
    border-radius: 4px;
    border: none;
}

.cta img {
    max-width: 80%;
}
/***** End: CTA *****/
/***** End: CTA *****/


/***** Footer *****/
/***** Footer *****/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 175px;
    gap: 100px;    
    background: linear-gradient(180deg, #EAF3FC 0%, rgba(234, 243, 252, 0) 100%);
    border-radius: 50px 50px 0px 0px;
}

.enews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 70%;
    text-align: center;
    flex-wrap: wrap;
}

.enews-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.inputSearch {
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 15px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #F4F5F8;
    border-radius: 8px;
}

.enews-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 3em;
}

.enews-field input {
    border: none;
}


/*Footer Top*/
.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 40px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.divider {
    border-bottom: 1px solid #73779f3a;
    padding: 2rem 0;
}

.quicklinks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
}

.quicklinks-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    flex-wrap: wrap;
}

.quicklinks-col h4 {
    color: rgba(158, 161, 189, 1);
}

.quicklinks-col ul {
    list-style-type: none;
}

.quicklinks-col li a {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    line-height: 2rem;
    color: rgba(94, 97, 145, 1);
    font-weight: 400;
}

.quicklinks-col li a:hover {
    color: rgba(40, 45, 108, 1);
    transition: 0.5s;
    font-weight: 500;
}


/*Footer Bottom*/
.footer-btm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 748px;    
}

#copyright {
    display: flex;
    flex-direction: column;
    font-size: 0.875;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    color: rgba(201, 202, 218, 1);
}

.social-icons i:hover {
    color:rgba(9, 109, 217, 1);
    transition: 0.5s;
}
/***** End: Footer *****/
/***** End: Footer *****/